            <div class="footer">
                    <ul>
                        <li><a href="#""><p>3K</p></a></li>
                        <li><a href="#""><p>3K</p></a></li>
                        <li><a href="#""><p>3K</p></a></li>
                        <li><a href="#""><p>3K</p></a></li>
                    </ul>
            </div>
        </div>
    </body>
</html>
