            <div class="footer">
                    <ul>
                        <li>
                            <a href="https://github.com/ckylek">
                              <img src="images/logo-github.svg">
                            </a>
                          </li>
                          <li>
                            <a href="https://github.com/ckylek">
                              <img src="images/logo-linkedin.svg">
                            </a>
                          </li>
                          <li>
                            <a href="https://github.com/ckylek">
                              <img src="images/logo-stackoverflow.svg">
                            </a>
                          </li>
                          <li>
                            <a href="https://github.com/ckylek">
                              <img src="images/logo-codepen.svg">
                            </a>
                          </li>
                    </ul>
            </div>
        </div>
    </body>
</html>
