<% include ./partials/header %>


  <div class="container">
    <div class="sidebar">
      <nav>
        <ul>
          <li><a href="a"></a>About</li>
          <li><a href="a"></a>Portfolio</li>
          <li><a href="a"></a>Blog</li>
          <li><a href="a"></a>Contact</li>
        </ul>
      </nav>
    </div>
    <div class="content">
      <section class="hero">
        <img src="images/kyle-profile-bw.jpg">
        <div class="hero-content">
          <h1>Christopher K. <br> Knickerbocker</h1>
          <h3>Austin-based Software Developer</h3>
          <a class="action-btn" href="#">Contact Me</a>
        </div>
      </section>
    </div>

<% include ./partials/footer %>

  <!-- <header class="headline">
    
  </header>

  <figure class = "photo">
    <div class ="photo-object">
      
    </div>
  </figure>
    <section class="bio-content">
      <p>Hello, my name is Kyle Knickerbocker. My area of work includes full-stack web development and GIS applications</p>
  </section>

  <section class = "external-menu">
    <h4>Other web profiles:</h4>
    <div class = 'external-links'>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg">
        </a>
      </li>
    </div>
  </section>
<div class = "projects-section">
  <p>Recent Projects</p>
  <div class = "projects-container">
    <div class="front-project javascript web-application web-game website">
      <img src = "/images/colortrainer.png">
      <div class="item__overlay">
          <div class = "project-summary">
              Web Application Game. Try to guess the correct color! This app
              is built primarily using javascript <b>DOM manipulation</b> and <b>event handling.</b>
          </div>
          <a href="https://ckylek.github.io/color-game">View Website →</a>
          <a href="https://github.com/ckylek/color-game">View on Github→</a>
      </div>
    </div>
    <div class="front-project">
        <img src="/images/colortrainer.png">
        <div class="item__overlay">
            <button>View →</button>
            Web application game where the user attempts to guess the correct color. The app
            is built primarily using javascript DOM manipulation and event handling.
        </div>
    </div>
    <div class="front-project">
      <img src="/images/colortrainer.png">
      <div class="item__overlay">
          <button>View →</button>
          Web application game where the user attempts to guess the correct color. The app
          is built primarily using javascript DOM manipulation and event handling.
      </div>
    </div>
    <div class="front-project">
      <img src="/images/colortrainer.png">
      <div class="item__overlay">
            <button>View →</button>
            Web application game where the user attempts to guess the correct color. The app
            is built primarily using javascript DOM manipulation and event handling.
      </div>
    </div>
</div>
</div>

  </div>
</body> -->
