<% include ./partials/header %>

    <div class="content">
      <section class="hero">
        <img src="images/kyleprofilepic2.png">
        <div class="hero-content">
          <h3>Austin-based Software Developer</h3>
          <p>
            <a href="/">knickerbocker.chris@gmail.com</a>
            <br>
            <a href="/">twitter: darthknick</a>
          </p>
        </div>
        <div class="summary-info">
          <div class="heading">About Me</div>
          <hr>
          <p>Hello, this is my personal website where you can find some projects I've worked on 
            and also a collection of resources I found helpful along the way.
          </p>
          <div class="heading">Projects</div>
          <hr>
          <p>
            Cyberpunk GameMaster App [React] [JS]
            <a href= "/">Go to --></a>
            <br>
            Cyberpunk GameMaster App [React] [JS]
            <a href= "/">Go to --></a>
            <br>
            Cyberpunk GameMaster App [React] [JS]
            <a href= "/">Go to --></a>
          </p>
          <div class="heading">Articles</div>
          <hr>
          <p>
            "Review of Triple Bottom Line Methodologies for Green Infrastructure"
            <a href= "/">Go to --></a>
            <br>
            "Microlending in Texas Colonias"
            <a href= "/">Go to --></a>
            <br>
            "Eden on the Charles" [Book Review]
            <a href= "/">Go to --></a>
            <br>
            "Green Infrastructure Applicability for Lone Star Brewery Redevelopment"
            <a href="/">Go to --></a>
          </p>

          
        </div>
      </section>
    </div>

<% include ./partials/footer %>

  <!-- <header class="headline">
    
  </header>

  <figure class = "photo">
    <div class ="photo-object">
      
    </div>
  </figure>
    <section class="bio-content">
      <p>Hello, my name is Kyle Knickerbocker. My area of work includes full-stack web development and GIS applications</p>
  </section>

  <section class = "external-menu">
    <h4>Other web profiles:</h4>
    <div class = 'external-links'>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Github.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Linkedin.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Stack-overflow.svg">
        </a>
      </li>
      <li>
        <a href="https://github.com/ckylek">
          <img src="images/Codepen.svg">
        </a>
      </li>
    </div>
  </section> -->

