:root {
  --primary:#1E1E1E;
  --secondary:#E8E8E8;
  --accent1:#194160;
  --accent2: #30A715;
  --background: #FFFAF4;
}

html  {
    font-size:14px;
}

body {
  margin: 0;
  font-family: 'Jost', 'Helvetica', 'Arial', 'sans-serif';
  color: var(--primary);
  background-color: var(--background);
}

*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.content {
  grid-area: content;
  justify-content: center;
}
.footer {
  grid-area: footer;
  background: var(--secondary);
}
.title {
  display: block;
  text-align: center;
  margin: 1em;
}
.menu {
  display: inline-block;
  vertical-align: middle;
  text-transform:uppercase;
}

hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: auto;
  margin-inline-end: auto;
  overflow: hidden;
  border-style: inset;
}

.container {
  font-size: 1.25em;
  width: 100%;
  display: grid;
  grid-template-areas:
  "sidebar"
  "content"
  "footer"
  ;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}
.content,
.sidebar,
.footer {
  padding: 1em;
}
.header-name {
  display: inline-block;
  vertical-align: middle;
  color: var(--primary);
  font-weight: 500;
  font-size: 1.25em;
}
.header-name a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
nav ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
nav li {
  list-style: none;
  padding: 1em 0;
}
a {
  color: var(--primary);
  font-weight: 500;
  text-decoration: none;
  transition: 0.3s;
}
nav li a:hover {
  opacity: 0.55;
}
.hero {
  display: grid;
  max-width: 960px;
  margin: 0 auto;
  text-align: center;
  justify-items: center;
  grid-template-areas: 
  "hero-img"
  "hero-content"
  "projects"
  ;
}
.hero img {
  justify-items: center;
  grid-area: hero-img;
  width: 300px;
}
.hero-content {
  grid-area: hero-content;
}
.hero-content {

}
.hero h3 {
  font-size: 1.25em;
  font-weight: 500;
  color: var(--primary);
}
/* .hero p {
  font-weight: 400;
  line-height: 1.8em;
  color: var(--primary);
} */
.action-btn {
  display: inline-block;
  text-decoration: none;
  color: white;
  font-weight: 700;
  background: var(--accent2);
  padding: 0.5em 2em;
  border-radius: 40px;
  margin: 1em 0;
  transition: 0.3s;
}

.action-btn:hover {
  box-shadow: 0 18px 50px rgba(188,197,216,1);
}

.projects {
  grid-area: projects / projects;
  padding: 0px;
  margin: 1rem;
}
.heading {
  font-weight: 500;
  text-transform: uppercase;
  display: block;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: var(--primary);
}

.footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.footer ul li {
  list-style: none;
  align-self: flex-end;
}
.footer ul li a {
  text-decoration: none;
  color: var(--primary);
}
.footer ul li a img{
  width: 25%;
  height: auto;
}

/* ****CV PAGE**** */

.cv-content {
  display: grid;
  grid-area: content;
  grid-gap: 4em;
  padding: 2em;
  justify-content: center;
  grid-template-areas: 
    "degree workhistory"
    "certification workhistory"
    ;
}
.degree {
  grid-area: degree;
}
.certification {
  grid-area: certification;
}
.workhistory{
  grid-area: workhistory;
}

/****** PROJECTS PAGE ******/

.projects-content {
  display: grid;
  grid-area: content;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-auto-rows: 250px;
  grid-gap: 20px;
  padding: 30px 0px;
  justify-self: center;
  max-width: 960px;;
}

.project {
  display: grid;
  grid-area: auto;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}
.project img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.item__overlay {
  background: rgba(198, 199, 204, 0.98);
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}
.project:hover .item__overlay {
  transform: translateY(0);
  display: inline;
  padding: 5px;
}
.project:hover .item__overlay b {
  display: inline;
}

@media (min-width: 1040px) {
  .container {
    height: 100vh;
    grid-template-areas:
    "sidebar"
    "content"
    "footer";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 7fr 1fr;
  }
  
  nav ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    color: var(--secondary);
  }
  nav ul li {
    padding: 0em 1em;
  }

  .sidebar h2 {
    padding: 1em;
    /* margin: 0; */
  }
  .hero {
    text-align: left;
    margin: 2em auto;
    display: grid;
    grid-template-areas: 
    "hero-img projects"
    "hero-content projects"
    ;
    grid-template-columns: 
    1fr 3fr;
  }
  .hero img {
    width: 300px;
  }

  .hero h3 {
    font-size: 1em;
  }
  .hero p {
    width: 100%;
  }
  .footer ul {
    margin: 0 auto;
    padding: 2em 0;
  }
}







